<div class="px-8 mx-auto xl:px-5 max-w-7xl" *ngIf="isAuth">
  <div
    class="flex items-center justify-between h-24 border-b-2 border-gray-100 md:justify-start md:space-x-6"
  >
    <div class="inline-flex">
      <a
        [routerLink]="['']"
        class="flex items-center justify-center space-x-3 transition-all duration-1000 ease-out transform text-wave-500"
      >
        <img class="w-8 h-8 rounded-full" src="/assets/logo.png" alt="Avatar" />
      </a>
    </div>
    <div class="flex h-full md:flex-1">
      <div class="flex-1 hidden h-full space-x-8 md:flex">
        <a
          [routerLink]="['']"
          class="inline-flex items-center px-1 pt-1 text-sm font-medium leading-5 transition duration-150 ease-in-out focus:outline-none border-b-2 border-transparent border-b-2 border-indigo-500 text-gray-900 focus:border-indigo-700"
          >Dashboard</a
        >
      </div>
      <div class="flex sm:ml-6 sm:items-center">
        <div class="relative flex items-center h-full ml-3">
          <div>
            <button
            (click)="onOpenUserModal()"
              class="flex text-sm transition duration-150 ease-in-out border-2 border-transparent rounded-full focus:outline-none focus:border-gray-300"
              aria-label="User menu"
              aria-haspopup="true"
              aria-expanded="true"
            >
              <img
                class="w-8 h-8 rounded-full"
                src="/assets/logo.png"
                alt="Avatar"
              />
            </button>
          </div>

          <div
            class="absolute top-0 right-0 w-56 mt-20 origin-top-right transform rounded-xl"
            *ngIf="openUserModal"
          >
            <div
              class="bg-white border border-gray-100 shadow-md rounded-xl"
              role="menu"
              aria-orientation="vertical"
              aria-labelledby="options-menu"
            >
              <a class="block px-4 py-3 text-gray-700 hover:text-gray-800">
                <span class="block text-sm font-medium leading-tight truncate">
                  Full name
                </span>
                <span class="text-xs leading-5 text-gray-600">
                  email
                </span>
              </a>
              <div class="border-t border-gray-100"></div>
              <div class="py-1">
                <div class="block px-4 py-1">
                  <span
                    class="inline-block px-2 my-1 -ml-1 text-xs font-medium leading-5 text-gray-600 bg-gray-200 rounded"
                    >Developer</span
                  >
                </div>
                <a
                  class="block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900"
                  >My Profile</a
                >
                <a
                  class="block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900"
                  >Settings</a
                >
              </div>
              <div class="border-t border-gray-100"></div>
              <div class="py-1">
                <a
                  (click)="logout()"
                  class="block w-full px-4 py-2 text-sm leading-5 text-left text-gray-700 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900"
                  role="menuitem"
                >
                  Sign out
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
